

.contain{
    flex: 1;
    overflow-y: auto;
    padding: 0 .1rem;
}
section{
    padding:0 .15rem;
}
.suc{
    height: 1.66rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.suc img{
    margin: .26rem 0;
}
.suc p,.suc span{
    font-size: .12rem;
    color: #333;
    line-height: .26rem;
}
/*预约详情*/
.yy{
    font-size: .14rem;
    color: #333;
    margin:.3rem 0 0;
}
.del-list{
    margin-top: .50rem;
    box-shadow: 0px 0px 15px rgba(176, 199, 202, 0.5);
    padding: 5px 5px;
    border-radius: 10px;
    background-color: rgba(176, 199, 202, 0.5);
}
.yy-data{
    font-size: .20rem;
    color: #333;
    margin-bottom: 0rem;
}
.times{
    padding-right: .24rem;
    border-right:2px solid #ddd;
}
.pai{
    margin-left: .24rem;
}
.detail{
    padding-bottom: .2rem;
    /*padding-top: .08rem;*/
}
.people{
    height: .28rem;
    line-height: .28rem;
    font-size: .14rem;
    color: #333;
    margin-top: .25rem;
}
.login{
    height: .28rem;
    line-height: .28rem;
    font-size: .16rem;
    color: #333;
}
.people span:nth-child(2){
    margin-left: .24rem;
}
.zheng{
    color: #3c7dce;
}
.people span:last-of-type{
    float: right;
}
.self{
    color: #999;
    line-height: .28rem;
    font-size: .12rem;
    display: flex;
    justify-content: space-between;
}

.self .btn{
    width: .4rem;
    height: .2rem;
    text-align: center;
    line-height: .2rem;
    color: #fff;
    border-radius: .04rem;
    background: #3c7dcf;
}
